// Place all the styles related to the port controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* small screen */

aside {
  display: none;
}

.image {
  background: pink;
  height: 100px;
}

.text {
  background: silver;
  height: 100px;
}

/* medium screen */
@media (min-width: 600px){
  section {
    display: flex;
  }

  .image {
    width: 200px;
  }

  .text {
    flex: 1;
  }
}
/* large screen */
@media (min-width: 800px) {
  body {
    section {
      width: 800px;
      margin: 0 auto;
    }

    aside {
      display: block;
      background: plum;
      width: 160px;
    }
  }
}

body {
  font-size: 16px;
  font-family: Verdana, sans-serif;
}

.box {
  width: 300px;
  height: 300px;
  background-color: skyblue;
}


.container {
  width: 330px;
  margin: 20px auto;
}

.container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.container li {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border-radius: 5px;
  margin: 0 5px 10px;
}

.box-container {
  width: 100px;
  height: 100px;
  background: #ddd;
  margin-bottom: 5px;
}